.banner {
    width: 100%;
    height: 40vh;
    background-image: url('../../../../public/backGround.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.barber {
    width: 100%;
    height: 40vh;
    background-image: url('../../../../public/barber.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}